@import "tailwindcss";

body {
  font-family: 'Inter';
}
.roboto {
    font-family: 'roboto'
}

@keyframes blink {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 0; }
}

.blink {
  animation: blink 1s ease-in-out;
  animation-iteration-count: infinite;
}


@media (width < 920px) {
  .home-title {
    font-size: 100px;
    margin-top: 304px;
  }
  .container {
    padding: 32px 12px;
    width:430px ;
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-mobile {
    padding: 6px 8px;
  }

  .search-movie-title {
    font-size: 24px;
    margin-top: 0;
  }
  .search-movie-image {
    width: 122px;
    height: 122px;
  }

  .poster-box{
    width: 430px;
    margin-left: -12px;
    margin-right: -12px;

  }
  .poster {
    object-fit:cover ;
  }
  .like-box {
    display: none;
  }
  .description {
    flex-direction:column-reverse;
    gap: 18px;
  }
  .movie-art{
    margin-top: 18px;
    width: 100%;
  }
  .detail-p{
    display: none;
  }
  .movie-description {
    display: none;
  }
  .rate-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .circle-box {
    margin-top: 0;
  }
  .other-rating{
    margin-top: 0;
  }
  .left-side {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .fav-button {
    display: block;
  }
  .like-desktop {
    display: none;
  }
}
